@page
@model DieUnausstehlichen_Web.Views.Home.Index2

@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" type="text/css" href="../../wwwroot/css/site.css"/><meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="/css/site.css">
    <link rel="stylesheet" href="/css/animate.css"/>
</head>
<body>
<div class="wobble infinite animated" style="z-index: 1">
    <div class="wobble animated infinite">
        <div class="hinge animated infinite">
            <div class="slideInDown faster animated infinite">
                <ul class="navbar">
                    <a href="">
                        <li class="navbar-item navbar-item-current wobble infinite animated">Home</li>
                    </a>
                    <a href="">
                        <li class="navbar-item swing infinite animated">About</li>
                    </a>
                    <a href="">
                        <li class="navbar-item heartBeat infinite animated">Privacy</li>
                    </a>
                </ul>
            </div>
        </div>
    </div>
</div>
<div class="background animated pulse infinite"></div>
<div style="position: fixed; font-family: 'Comic Sans'; z-index: 100; font-size: 100px; left: 20%; top: 20%; color: red; background: lime" class="animated infinite tada faster">
    SEIZURE WARNING!
    <p style="font-size: 40px;">(c) 2020 plz don't steal thx</p>
</div>
<div class="animated slower flip animated infinite main delay-5s" style="z-index: 2">
    <div class="delay-1s animated infinite rubberBand">
        <p class="lightSpeedIn delay-1s animated">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus porttitor ipsum sed metus vestibulum, ut malesuada felis dictum. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Vivamus eu placerat velit. Nunc ultricies volutpat purus ut hendrerit. Phasellus interdum dignissim risus, sed hendrerit lorem elementum in. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas ac volutpat tellus. Vivamus magna urna, semper sit amet bibendum sit amet, sollicitudin quis mauris. Nulla condimentum efficitur magna nec porttitor. Maecenas luctus sit amet purus sed auctor. Sed a lobortis ex. </p>
    </div>
    <div class="delay-2s animated infinite rubberBand">
        <p class="lightSpeedIn delay-2s animated">Integer posuere mattis facilisis. Aenean lacinia ac ipsum ac ultricies. Etiam et maximus turpis, eu commodo lectus. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce tincidunt aliquam metus non maximus. Maecenas quis turpis ultrices lectus ultrices malesuada in non eros. Curabitur venenatis tincidunt nunc congue hendrerit. Curabitur ac consectetur tortor, et molestie nunc. Donec et quam tellus. Integer dolor purus, sodales in maximus ac, fermentum non sem. Cras erat neque, eleifend id volutpat vitae, malesuada non quam. Nullam posuere placerat nunc ac vehicula. Nunc nec pretium leo. Sed lacinia sapien ac urna rutrum tempor. </p>
    </div>
    <div class="delay-3s animated infinite rubberBand">
        <p class="lightSpeedIn delay-3s animated">Nulla facilisi. Curabitur erat dolor, molestie eget elementum eu, accumsan at turpis. Suspendisse maximus nisl in est luctus volutpat. Etiam justo turpis, malesuada eu volutpat vitae, aliquam quis odio. Curabitur accumsan aliquam libero at scelerisque. Vestibulum non auctor dui. Mauris pellentesque, ex quis blandit tristique, turpis sapien ultrices massa, eu elementum justo velit vitae dui. Mauris in placerat erat. Aenean auctor hendrerit sapien, vitae gravida dolor tincidunt quis. Cras dui ligula, convallis vitae sagittis eu, consequat ac eros. Etiam interdum imperdiet neque. Nullam quis bibendum purus. Duis semper, mi porta fringilla convallis, leo nisi ultricies libero, non pulvinar augue libero ultricies velit. Donec volutpat, libero quis imperdiet efficitur, metus justo sodales neque, tincidunt pulvinar erat urna vitae tellus. </p>
    </div>
    <div class="delay-4s animated infinite rubberBand">
        <p class="lightSpeedIn delay-4s animated">Duis sed suscipit nibh, quis elementum mauris. Donec eget arcu varius, accumsan odio placerat, vestibulum risus. Sed blandit tincidunt tortor, et egestas risus sollicitudin at. Phasellus sagittis posuere nisl, sed vulputate nulla bibendum vel. Duis faucibus, mauris quis placerat semper, lectus mauris commodo erat, sit amet viverra elit ante in ipsum. Phasellus ornare, lectus id convallis ornare, magna metus auctor enim, sed vulputate est tellus sit amet orci. Aliquam ut viverra quam, et vulputate ante. Suspendisse potenti. Nullam sit amet tortor bibendum, gravida tortor nec, pharetra nunc. Fusce tempus faucibus tristique. </p>
    </div>
    <div class="delay-5s animated infinite rubberBand">
        <p class="lightSpeedIn delay-5s animated">Mauris quis sem vitae erat imperdiet aliquam a quis nibh. Sed vitae vehicula magna. Ut elementum neque dolor, eget porta diam ultrices ac. Nam vitae mi laoreet, ultrices augue vel, finibus nibh. Donec tristique odio non enim iaculis, in viverra sem fringilla. Praesent nunc lorem, scelerisque sit amet mollis dapibus, sodales a felis. Proin pulvinar porta libero non rutrum. Nulla facilisis erat id molestie ornare. Vestibulum consequat odio eget eros consectetur, eget semper elit auctor. Donec tellus ante, laoreet a ullamcorper ac, auctor quis ligula. Nullam luctus odio et elit ultricies, eu euismod ligula malesuada. Nullam faucibus fermentum ipsum. Curabitur at iaculis erat, vel egestas tellus. Nulla ornare elit ligula, id rhoncus eros eleifend a. Nunc libero libero, accumsan nec varius sed, pellentesque nec dolor. </p>
    </div>
</div>
</body>
</html>