@using DieUnausstehlichen_Web.Helper
@using Microsoft.AspNetCore.Mvc.Razor.Compilation

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="/css/site.css">
    <link rel="stylesheet" href="/css/animate.css"/>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <script type="text/javascript" src="/js/jquery-3.4.1.min.js"></script>
    <script type="text/javascript" src="/js/site.js"></script>
</head>
<body>
<div class="sticky">
    <ul class="navbar">
        @Html.NavbarLinks(new[]
        {
            new PageHelper.NavbarItem("Index", "Home", "Home"),
            new PageHelper.NavbarItem("About", "Home", "About"),
            new PageHelper.NavbarItem("Privacy", "Home", "Privacy")
        })
    </ul>
</div>
<div class="content">
    @RenderBody()
</div>
<div id="toTopButton" class="animated faster back-to-top" onclick="scrollToTop()">
    <i class="material-icons back-to-top-arrow">arrow_upward</i>
</div>
</body>
</html>