<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" type="text/css" href="../../wwwroot/css/site.css"/><meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="css/site.css">
    <link rel="stylesheet" href="css/animate.css"/>
</head>
<body>
<!--<div class="wobble infinite animated" style="z-index: 1">-->
   <!-- <div class="wobble animated infinite"> -->
        <div class="hinge animated infinite">
            <div class="slideInDown faster animated infinite">
                <ul class="navbar">
                    <a href=""><li class="navbar-item navbar-item-current wobble infinite animated">Home</li></a>
                    <a href=""> <li class="navbar-item swing infinite animated">About</li></a>
                    <a href=""> <li class="navbar-item heartBeat infinite animated">Privacy</li></a>
                </ul>
            </div>
        </div>
   <!-- </div> -->
<!--</div>-->
<!--
<div class="background animated pulse infinite"></div>
<div style="position: fixed; font-family: 'Comic Sans'; z-index: 100; font-size: 100px; left: 20%; top: 20%; color: red; background: lime" class="animated infinite tada faster">SEIZURE WARNING!
    <p style="font-size: 40px;">(c) 2020 plz don't steal thx</p>
</div>
-->
@RenderBody()
</body>
</html>